@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'varela round', sans-serif;
}

nav {
    background-color: #896bb3;
    box-shadow: none;
}

nav .brand-logo, nav ul li.active a {
    color: #fefefe;
}

nav ul li a {
    font-size: 1.1rem;
}

nav ul li a, nav .brand-logo span {
    color: #d6c5ec;
}

nav ul li.active, nav ul li:hover {
    background-color: inherit;
}

#mobile-nav, #mobile-nav li.active, #mobile-nav li:hover {
    background-color: #37333d;
}

#mobile-nav li a {
    font-size: 1.3rem;
    color: #906fbc;
}

#mobile-nav li.active a {
    color: #fff;
}

#mobile-nav li {
    border-bottom: 1px solid #27252b;
}

.search-bar .input-field {
    background-color: #f2f0f5;
}

.search-bar .input-field {
    border: 1px solid #dad7de;
    border-radius: 4px;
}

.search-bar .input-field input {
    border: none;
    margin: 0;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.search-bar .input-field input:focus {
    background-color: transparent;
}

.search-bar .input-field input ~ .material-icons, .search-bar .input-field input:focus ~ .material-icons {
    top: 0.5rem;
    color: #896bb3;
}

::-webkit-input-placeholder {
    color: #a29fa6;
}

.search-bar .input-field input, .search-bar .input-field input:focus {
    color: #757378;
}

.gifs img {
    height: 240px;
    width: 100%;
    border-radius: 6px;
}

.col {
    margin-bottom: 0.75rem;
    position: relative;
}

.favorite {
    position: absolute;
    top: 0;
    right: 0.75rem;
    display: block;
    height: 60px;
    width: 60px;
    z-index: 100;
    border-radius: 0 6px 0 0;
}

.mark.favorite {
    background: url(icons/favorite.png) no-repeat 0 0;
}

.unmark.favorite {
    background: url(icons/unfavorite.png) no-repeat 0 0;
}

@media only screen and (max-width: 600px) {
    .gifs {
        padding: 0 1.5rem;
    }
    .gifs img {
        width: 100%;
    }
}


@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: none;
        transform: none;
        position: static;
    }

    .container {
        width: 100%;
    }

    .navbar-fixed .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .search-bar .input-field {
        margin-top: 0;
        border: none;
        border-radius: 0;
    }

    .search-bar .input-field input {
        height: 4rem;
        padding-left: 1.5rem;
    }

    .search-bar .input-field input ~ .material-icons, .search-bar .input-field input:focus ~ .material-icons {
        top: 1rem;
        right: 2.4rem;
    }
}